<%- include('./partials/header') %>

<!-- <%- include('./partials/topbar') %> -->

<div class="position-absolute top-50 start-50 translate-middle">
  <h1 class="text-center"><%= title %></h1>

  <div class="text-center">
    <a class="btn btn-primary" style="text-decoration: none;" href="/mp4-para-gif">Começar</a>
    <!--
    <a class="btn btn-primary" style="text-decoration: none;" href="/pdf-para-png">PDF to PNG</a>
    <a class="btn btn-dark" style="text-decoration: none;" href="/png-para-jpg">PNG to JPG</a>
    <a class="btn btn-danger" style="text-decoration: none;" href="/png-para-gif">PNG to GIF</a>
    <a class="btn btn-info" style="text-decoration: none;" href="/png-para-webp">PNG to WEBP</a>
    <a class="btn btn-warning" style="text-decoration: none;" href="/mp4-para-gif">SVG to PNG</a>
    -->

  </div>
</div>

<%- include('./partials/footer') %>
